NODE_ENV=development
PORT=3000

DB_HOST=postgresql-209519-0.cloudclusters.net
DB_PORT=10012
DB_USER=ecommerce
DB_PASS=eresmias.
DB_NAME=ecommerce
DB_SSL=false

JWT_SECRET=change-this-jwt-secret-very-secure
JWT_EXPIRES_IN=7d
UPLOAD_DIR=./uploads
